#container{
    display: grid; 
    grid-template-columns: 1fr 2fr;
}

app-country-picker{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 20px
}


app-country-search{
    grid-column: 1/2;
    grid-row: 2/3;
}

app-watch-list{
    grid-column: 2/3;
    grid-row: 1/3;
}