<div id="container">
  <div id="country_picker_wrapper">
    <app-country-picker
      [watchList]="watchList"
      [sortedWatchList]="sortedWatchList"
      (watchListEvent)="handleWatchListEvent($event)"
      (sortedWatchListEvent)="handleSortedWatchListEvent($event)"
    ></app-country-picker>

    <app-country-search></app-country-search>
  </div>

  <app-watch-list
    [watchList]="watchList"
    [sortedWatchList]="sortedWatchList"
    (watchListEvent)="handleWatchListEvent($event)"
    (sortedWatchListEvent)="handleSortedWatchListEvent($event)"
  ></app-watch-list>
</div>
