#container{
    display: grid; 
    grid-template-columns: 1fr 2fr;
}

#country_picker{
    grid-column: 1/2;
    grid-row: 1/2;
}

#country_search{
    grid-column: 1/2;
    grid-row: 2/3;
}

#country_list{
    grid-column: 2/3;
    grid-row: 1/3;
}

.section{
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
}

.section_header{
    font-weight: 1000;
    margin-bottom: 5px;
}

.section_body{
    background-color: #FFFFFF;
}

#country_picker .section_body li[selected]{
    background-color: lightblue;
}

#country_search .section_body input{
    width: calc(100% - 5px);
}

#country_list .section_body table{
    width: 100%;
    text-align: left;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 0px;
  }