popup {
    display: inline-block;
    height: 500px;
    width: 500px;
  }

.fc-day {
    position: relative;
}

.day_detail_tooltip {
    position: absolute;
    bottom: 80%;
    left: 0px;
    padding: 6px 10px;
    background: #01579B;
    color: #FFF;
    width: 200px;
    font-size: 0.8rem;
    border-radius: 10px;
    transition: 0.5s;
    display: none;
    z-index: 10;
}

.day_detail_tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  border: 5px solid transparent;
  border-top: 8px solid #01579B;
  z-index: 10;
}

.fc-day:hover .day_detail_tooltip {
	display: block;
}