popup {
    display: inline-block;
    height: 550px;
    width: 550px;
  }

.fc-day {
    position: relative;
}

.fc-event-title{
  font-weight: bold;
}

.day_detail_tooltip {
  position: absolute;
  padding: 6px 10px;
  background: #01579B;
  color: #FFF;
  max-width: 300px;
  font-size: 0.8rem;
  border-radius: 10px;
  transition: 0.5s;
  display: none;
  z-index: 10;
  opacity: 0.9;
}

.day_detail_tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  border: 5px solid transparent;
  border-top: 8px solid #01579B;
  z-index: 10;
}

.day_detail_tooltip_location {
    bottom: 80%;
    left: 0px;
}

.fc-scrollgrid-sync-table tr:nth-child(1) .day_detail_tooltip:after,
.fc-scrollgrid-sync-table tr:nth-child(2) .day_detail_tooltip:after {
  top: calc(0% - 12px);
  border-bottom: 8px solid #01579B;
  border-top: 5px solid transparent;
}

.fc-scrollgrid-sync-table tr:nth-child(1) .day_detail_tooltip_location,
.fc-scrollgrid-sync-table tr:nth-child(2) .day_detail_tooltip_location {
    bottom: -30%;
}

.fc-scrollgrid-sync-table tr td:nth-child(5) .day_detail_tooltip_location,
.fc-scrollgrid-sync-table tr td:nth-child(6) .day_detail_tooltip_location,
.fc-scrollgrid-sync-table tr td:nth-child(7) .day_detail_tooltip_location {
    left: -200px;
}

.fc-scrollgrid-sync-table tr td:nth-child(5) .day_detail_tooltip:after,
.fc-scrollgrid-sync-table tr td:nth-child(6) .day_detail_tooltip:after,
.fc-scrollgrid-sync-table tr td:nth-child(7) .day_detail_tooltip:after {
  left: 210px;
}

.fc-day:hover .day_detail_tooltip:not(:empty) {
	display: block;
}

.fc-day .day_detail_tooltip table {
	table-layout: auto !important;
}

.fc-day .day_detail_tooltip table td{
  padding-right: 8px;
  border-width: 1px 0;
}

.fc-day .day_detail_tooltip table td:nth-child(1){
  white-space: nowrap
}

.fc-day .day_detail_tooltip table td:nth-child(2){
  min-width: 150px
}

.fc-day .day_detail_tooltip table td img{
  margin-right: 3px;
}

.fc-h-event .fc-event-title {
  max-width: 70% !important;
}

.country_flag{
  width: 20px;
  height: 12px;
  border: 1px solid black;
}